
#content {
    vertical-align: top;
    width: 520px;
    text-align: left;
    font-family: Georgia;
}
#content #page-title {
	text-align: center;
	font-size: 16pt;
	font-weight: bold;
	padding-top: 10px;
	padding-bottom: 15px;
}
#content .content-text {
	text-align: left;
	font-size: 10pt;
	font-weight: normal;
	text-align: justify;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	line-height: 25px;
}
.content-top-left-corner {
	background-image: url('images/raise-top-left-corner.gif');
	background-repeat: no-repeat;
	background-position: right;
	width: 20px;
	height: 21px;
}
.content-top-row {
	background-image: url('images/raise-top-row.gif');
	background-repeat: repeat-x;
	background-position: top;
	width: 480px;
	height: 21px;
}
.content-top-right-corner {
	background-image: url('images/raise-top-right-corner.gif');
	background-repeat: no-repeat;
	background-position: left;
	width: 20px;
	height: 21px;
}
.content-left-side {
	background-image: url('images/raise-left-side.gif');
	background-repeat: repeat-y;
	background-position: right;
	width: 20px;
	height: 100%;
}
.content {
	background-color: #FFFFFF;
	text-align: justify;
}
.content-right-side {
	background-image: url('images/raise-right-side.gif');
	background-repeat: repeat-y;
	background-position: left;
	width: 20px;
	height: 100%;
}
.content-bottom-left-corner {
	background-image: url('images/raise-bottom-left-corner.gif');
	background-repeat: no-repeat;
	background-position: right;
	width: 20px;
	height: 19px;
}
.content-bottom-row {
	background-image: url('images/raise-bottom-row.gif');
	background-repeat: repeat-x;
	background-position: top;
	width: 480px;
	height: 19px;
}
.content-bottom-right-corner {
	background-image: url('images/raise-bottom-right-corner.gif');
	background-repeat: no-repeat;
	background-position: left;
	width: 20px;
	height: 19px;
}
.picture {
	padding-top: 20px;
}
.picture table {
	margin-left: auto;
	margin-right: auto;	
}
.content-picture-text {
	font-size: 11pt;
	line-height: 15px;
	padding: 0px 20px 10px 20px;
}
.pic-top-left-corner {
	background-image: url('images/pic-top-left-corner.png');
	background-repeat: no-repeat;
	background-position: right;
	width: 20px;
	height: 20px;
}
.pic-top-row {
	background-image: url('images/pic-top-row.png');
	background-repeat: repeat-x;
	background-position: top;
	width: 100px;
	height: 20px;
}
.pic-top-right-corner {
	background-image: url('images/pic-top-right-corner.png');
	background-repeat: no-repeat;
	background-position: left;
	width: 20px;
	height: 20px;
}
.pic-left-side {
	background-image: url('images/pic-left-side.png');
	background-repeat: repeat-y;
	background-position: right;
	width: 20px;
	height: 100%;
}
.image {
}
.pic-right-side {
	background-image: url('images/pic-right-side.png');
	background-repeat: repeat-y;
	background-position: left;
	width: 20px;
	height: 100%;
}
.pic-bottom-left-corner {
	background-image: url('images/pic-bottom-left-corner.png');
	background-repeat: no-repeat;
	background-position: right;
	width: 20px;
	height: 20px;
}
.pic-bottom-row {
	background-image: url('images/pic-bottom-row.png');
	background-repeat: repeat-x;
	background-position: top;
	width: 100px;
	height: 20px;
}
.pic-bottom-right-corner {
	background-image: url('images/pic-bottom-right-corner.png');
	background-repeat: no-repeat;
	background-position: left;
	width: 20px;
	height: 20px;
}
       
