#heading {
	float: left;
	width: 500px;
	padding-top: 15px;
	padding-right: 0px;
	padding-bottom: 15px;
	padding-left: 120px;
	font-family: Courier New;
}
#line-1 {
	font-size: 26px;
	font-weight: bolder;
}
#line-2 {
	font-size: 16px;
}