body {
  font-family: 'Alegreya SC', serif;
  background: #C9E892;
  color: #444;
}

#container {
  margin: 0 auto;
  padding: 0;
  width: 1000px;
}

@media screen and (max-width: 1000px) {
  #container {
    margin: 0;
    width: auto;
  }
}

#container > header {
  text-align: center;
  padding: 10px 0 20px;
}

h1, h2, h3 {
  margin: 0;
  padding: 0;
  text-transform: uppercase;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.2em;
}

h3 {
  font-size: 1.5em;
}

a {
  color: #666;
  text-decoration: none;
}

a:link,
a:visited {
  color: #666;
}

a:hover,
a:active {
  color: #000;
}


nav {
  float: left;
  width: 200px;
}

nav ul {
  margin: 0;
  padding: 0 20px 0 0;
}

nav li {

}

nav li a {
  display: block;
  background: #fff;
  padding: 10px;
  margin: 0 0 10px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: .8em;
  color: #aaa;
  border: #aaa 1px solid;
}

nav li a:link,
nav li a:visited {
  color: #aaa;
}

nav li a.selected {
  border-color: #444;
  color: #444;
}

nav li a:hover,
nav li a:active {
  background: #eee;
  color: #000;
  border-color: #444;
}

@media screen and (max-width: 690px) {

  nav {
    float: none;
    width: auto;
    height: auto;
    text-align: center;
    position: relative;
    z-index: 10;
    height: 60px;
  }

  nav ul {
    display: inline-block;
    width: 170px;
    background: #fff;
    padding: 0;
    margin: 0;
    border: 1px solid #aaa;
    border-bottom: 0;
  }

  nav li {
    display: block;
    width: 170px;
    padding: 0;
    margin: 0;
  }

  nav li a {
    display: none;
    width: 150px;
    margin: 0;
    color: #666;
    border: 0;
    border-bottom: 1px solid #aaa;
  }

  nav li a:link,
  nav li a:visited {
    color: #666;
  }
  
  nav li a:hover,
  nav li a:active {
    border-color: #aaa;
  }
  
  nav li a.selected {
    color: #444;
    display: block;
    border-color: #aaa;
  }

  nav li a.expanded {
    display: block;
  }
}

@media screen and (min-width: 691px) and (max-width: 1000px) {
  nav {
    float: none;
    width: auto;
    height: auto;
    text-align: center;
  }

  nav ul {
    padding: 0;
  }

  nav li {
    display: inline;
  }

  nav li a {
    display: inline;
  }

  nav li a.selected {
    font-size: 1.1em;
  }
}

#content {
  position: relative;
  float: left;
  width: 500px;
  padding: 20px 95px;
  background: #fff;
  text-align: center;
  border: #aaa 1px solid;
  overflow: hidden;
}

#content header {
  padding: 0 0 20px;
}

@media screen and (max-width: 690px) {
  #content {
    border-right: 0;
    border-left: 0;
    padding: 20px 14%;
    width: auto;
  }

  #content footer {
    display: none;
  }
}

@media screen and (max-width: 1000px) {
  #content {
    float: none;
    margin: 0 auto;
  }

  #content header {
    display: none;
  }
}

p {
  text-align: justify;
  font-size: .9em;
}

p:first-letter {
  font-size: 1.5em;
}

#content img {
  background: #fff;
  padding: 10px;
  border: #aaa 1px solid;
  margin: 0 0 10px;
}

#content img:hover {
  border-color: #444;
  cursor: pointer;
}

#slide_show {
  height: 500px;
}

#slide_show .panel {
  float: left;
}

#slide_show .panel p:first-letter {
  font-size: 1em;
}

#slide_show .panel-control {
  position: absolute;
  width: 20px;
  height: 120px;
  background: url('../images/icons.png');
  opacity: 0.4;
  filter:alpha(opacity=40); /* For IE8 and earlier */
}

#slide_show #panel_prev {
  top: 125px;
  left: 40px;
  background-position: 0px 0px;
}

#slide_show #panel_next {
  top: 125px;
  right: 40px;
  background-position: -20px 0px;
}

#slide_show .panel-control:hover {
  opacity: 0.3;
  filter:alpha(opacity=30); /* For IE8 and earlier */
  cursor: pointer;
}

#slide_show .panel-control.disabled {
  background: none;
}

#slide_show .panel-control.disabled:hover {
  background: #fff;
  cursor: auto;
}

#content > footer {
  padding: 20px 0 0;
  height: 50px;
  color: #222;
}

#content > footer > div {
  opacity: 0.9;
  filter:alpha(opacity=90); /* For IE8 and earlier */
}

#content > footer > div:hover {
  opacity: 0.4;
  filter:alpha(opacity=40); /* For IE8 and earlier */
  cursor: pointer;
}

#content > footer div div {
  background: url('../images/icons.png') no-repeat;
}

#content > footer .prev {
  float: left;
}

#content > footer .prev div {
  float: left;
  width: 10px;
  height: 20px;
  margin-right: 10px;
  background-position: -40px 0px;
}

#content > footer .next {
  float: right;
}

#content > footer .next div {
  float: right;
  width: 10px;
  height: 20px;
  margin-left: 10px;
  background-position: -40px -20px;
}

#content > footer a:link,
#content > footer a:visited,
#content > footer a:hover,
#content > footer a:active {
  display: block;
  color: #222;
}


#container > footer {
  clear: both;
  text-align: center;
  padding: 20px 0 30px;
  font-weight: bold;
  font-size: .7em;
}
