body {
  font-family: 'Alegreya SC', serif;
  background: #bed37a url('../images/background.png');
  color: #444;
}

#container {
  margin: 0 auto;
  padding: 0;
  width: 1000px;
}

@media screen and (max-width: 1000px) {
  #container {
    margin: 0;
    width: auto;
  }
}

#container > header {
  text-align: center;
  padding: 10px 0 20px;
}

h1, h2, h3 {
  margin: 0;
  padding: 0;
  text-transform: uppercase;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.2em;
}

h3 {
  font-size: 1.5em;
}

a {
  color: #666;
  text-decoration: none;
}

a:link,
a:visited {
  color: #666;
}

a:hover,
a:active {
  color: #000;
}


nav {
  float: left;
  width: 160px;
}

nav ul {
  margin: 0;
  padding: 0 20px 0 0;
}

nav li {
  display: block;
  -moz-box-shadow: 0px 0px 6px rgba(0,0,0,.55);
  -webkit-box-shadow: 0px 0px 6px rgba(0,0,0,.55);
  box-shadow: 0px 0px 6px rgba(0,0,0,.55);
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -khtml-border-radius: 3px;
  border-radius: 3px;
  padding: 3px;
  background: #8b6133 url('../images/leather.png');
  margin: 0 0 10px;

}

nav li.operation {
  background-position: -20px -20px;
}

nav li.application {
  background-position: 40px -40px;
}

nav li.problems {
  background-position: -60px 60px;
}

nav li.conclusion {
  background-position: 80px -80px;
}

nav li a {
  display: block;
  padding: 7px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: .9em;
  color: #130d07;
  color: rgba(0,0,0,.85);
  border: 2px dashed #50381b;
  border-color: rgba(0,0,0, .20);
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -khtml-border-radius: 3px;
  border-radius: 3px;
}

nav li a:link,
nav li a:visited {
  color: #130d07;
  color: rgba(0,0,0,.85);
}

nav li.selected a:link,
nav li.selected a:visited {
  color: #efe8e0;
  color: rgba(255,255,255,.85);
}

nav li a:hover,
nav li a:active {
  color: #d4c6b6;
  color: rgba(255,255,255,.65);
}

@media screen and (max-width: 690px) {

  nav {
    float: none;
    width: auto;
    height: auto;
    text-align: center;
    position: relative;
    height: 60px;
    z-index: 10;
  }

  nav ul {
    display: inline-block;
    width: 190px;
    margin: 0;
    padding: 0;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -khtml-border-radius: 3px;
    border-radius: 3px;
    background: #fcfcf3 url('../images/paper.png');
    -moz-box-shadow: 0px 0px 6px rgba(0,0,0,.55);
    -webkit-box-shadow: 0px 0px 6px rgba(0,0,0,.55);
    box-shadow: 0px 0px 6px rgba(0,0,0,.55);
  }

  nav li {
    display: none;
    width: 184px;
    padding: 3px;
    margin: 0;
  }

  nav li a {
    display: block;
    width: 170px;
    margin: 0;
    color: rgba(0,0,0,.55);
    border: 0;
  }

  nav li a:link,
  nav li a:visited {
    color: rgba(0,0,0,.55);
  }
  
  nav li a:hover,
  nav li a:active {
    color: rgba(0,0,0,.75);
  }
  
  nav li.selected {
    display: block;
    -moz-box-shadow: 0px 0px 6px rgba(0,0,0,.55);
    -webkit-box-shadow: 0px 0px 6px rgba(0,0,0,.55);
    box-shadow: 0px 0px 6px rgba(0,0,0,.55);
  }

  nav li.selected a {
    background: url('../images/icons.png') 168px -127px no-repeat;
    width: 166px;
    border: 2px dashed rgba(0,0,0,.20);
    color: rgba(0,0,0,.75);
    display: block;
  }

  nav li.selected a:link,
  nav li.selected a:visited {
    color: rgba(0,0,0,.85);
  }

  nav li.selected a:hover,
  nav li.selected a:active {
  }

  nav li.expanded {
    display: block;
    background-image: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
  }

  nav li.expanded a {
    background-image: none;
    border: 0;
  }
}

@media screen and (min-width: 691px) and (max-width: 1000px) {
  nav {
    float: none;
    width: auto;
    height: auto;
    text-align: center;
    margin-bottom: -20px;
  }

  nav ul {
    padding: 0;
  }

  nav li {
    display: inline-block;
  }

  nav li a {
    display: inline-block;
  }

  nav li.selected {
    padding: 5px;
    font-size: 1.25em;
    -moz-box-shadow: 0px 0px 9px rgba(0,0,0,.55);
    -webkit-box-shadow: 0px 0px 9px rgba(0,0,0,.55);
    box-shadow: 0px 0px 9px rgba(0,0,0,.55);
  }

  nav li.selected a {
    border: 3px dashed rgba(0,0,0, .20);
  }
}

#content {
  position: relative;
  float: left;
  width: 500px;
  padding: 20px 95px;
  background: #fff;
  text-align: center;
  overflow: hidden;
  background: url('../images/paper.png');
  box-shadow: 0px 0px 10px rgba(0,0,0,.55);
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  -khtml-border-radius: 2px;
  border-radius: 2px;
}

#content header {
  padding: 0 0 20px;
}

@media screen and (max-width: 690px) {
  #content {
    border-right: 0;
    border-left: 0;
    padding: 20px 14%;
    width: auto;
  }

  #slide_show {
    height: auto;
  }

  #slide_show .panel {
    float: none;
  }

  #content footer {
    display: none;
  }
}

@media screen and (max-width: 1000px) {
  #content {
    float: none;
    margin: 0 auto;
  }

  #content header {
    display: none;
  }
}

p {
  text-align: justify;
  font-size: .9em;
}

p:first-letter {
  font-size: 1.5em;
}

#content img {
  background: #fff;
  padding: 10px;
  border: #aaa 1px solid;
  margin: 0 0 10px;
  -moz-box-shadow: 0px 0px 3px rgba(0,0,0,.55);
  -webkit-box-shadow: 0px 0px 3px rgba(0,0,0,.55);
  box-shadow: 0px 0px 3px rgba(0,0,0,.55);
}

#content img.rotate-0 {
  -webkit-transform: rotate(1deg);
  -moz-transform: rotate(1deg);
}

#content img.rotate-1 {
  -webkit-transform: rotate(0.5deg);
  -moz-transform: rotate(2deg);
}

#content img.rotate-2 {
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
}

#content img.rotate-3 {
  -webkit-transform: rotate(-0.5deg);
  -moz-transform: rotate(-2deg);
}

#content img.rotate-4 {
  -webkit-transform: rotate(-1deg);
  -moz-transform: rotate(-1deg);
}

#content img:hover {
  cursor: pointer;
  -moz-box-shadow: 0px 0px 6px rgba(0,0,0,.55);
  -webkit-box-shadow: 0px 0px 6px rgba(0,0,0,.55);
  box-shadow: 0px 0px 6px rgba(0,0,0,.55);
}

#content img:active {
  -moz-box-shadow: 0px 0px 1px rgba(0,0,0,.55);
  -webkit-box-shadow: 0px 0px 1px rgba(0,0,0,.55);
  box-shadow: 0px 0px 1px rgba(0,0,0,.55);
}

#slide_show {
  height: 500px;
}

#slide_show .panel {
  float: left;
}

#slide_show .panel p:first-letter {
  font-size: 1em;
}

#slide_show .panel-control {
  position: absolute;
  width: 20px;
  height: 120px;
  background: url('../images/icons.png');
  opacity: 0.4;
  filter:alpha(opacity=40); /* For IE8 and earlier */
}

#slide_show #panel_prev {
  top: 125px;
  left: 40px;
  background-position: 0px 0px;
}

#slide_show #panel_next {
  top: 125px;
  right: 40px;
  background-position: -20px 0px;
}

#slide_show .panel-control:hover {
  opacity: 0.3;
  filter:alpha(opacity=30); /* For IE8 and earlier */
  cursor: pointer;
}

#slide_show .panel-control.disabled {
  background: none;
}

#slide_show .panel-control.disabled:hover {
  background: #fff;
  cursor: auto;
}

@media screen and (max-width: 690px) {
  #slide_show {
    height: auto;
  }

  #slide_show .panel {
    float: none;
  }

  #slide_show .panel-control {
    display: none;
  }

  #content img {
    width: 94%;
    padding: 3%;
  }
}

@media screen and (max-width: 1000px) {
}

#content > footer {
  padding: 20px 0 0;
  height: 50px;
  color: #222;
}

#content > footer > div {
  opacity: 0.9;
  filter:alpha(opacity=90); /* For IE8 and earlier */
}

#content > footer > div:hover {
  opacity: 0.4;
  filter:alpha(opacity=40); /* For IE8 and earlier */
  cursor: pointer;
}

#content > footer div div {
  background: url('../images/icons.png') no-repeat;
}

#content > footer .prev {
  float: left;
}

#content > footer .prev div {
  float: left;
  width: 10px;
  height: 20px;
  margin-right: 10px;
  background-position: -40px 0px;
}

#content > footer .next {
  float: right;
}

#content > footer .next div {
  float: right;
  width: 10px;
  height: 20px;
  margin-left: 10px;
  background-position: -40px -20px;
}

#content > footer a:link,
#content > footer a:visited,
#content > footer a:hover,
#content > footer a:active {
  display: block;
  color: #222;
}


#container > footer {
  clear: both;
  text-align: center;
  padding: 20px 0 30px;
  font-weight: bold;
  font-size: .7em;
}

#overlay {
  display: none;
}

#disabled_layer {
  position: fixed;
  top: 0;
  left: 0;
  background: #000;
  opacity: 0.4;
  filter: alpha(opacity=40);
  width: 100%;
  height: 100%;
  z-index: 99;
}

#pop_up {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}

#pop_up #loading {
  display: none;
  width: 300px;
  height: 300px;
  border: solid #fff 5px;
  border-bottom: none;
  background: #000 url('../images/loading.gif') center center no-repeat;
}

#pop_up.loading #loading {
  display: block;
}

#pop_up img {
  display: block;
  border: solid #fff 5px;
  border-bottom: none;
}

#pop_up.loading img {
  display: none;
}

#pop_up .controls {
  width: 100%;
  height: 30px;
  line-height: 30px;
  text-align: right;
  background: #fff;
  color: #000;
}

#pop_up .controls span {
  padding-right: 20px;
  cursor: pointer;
}

#pop_up .controls span:link,
#pop_up .controls span:visited {
  color: #000;
}

#pop_up .controls span:hover,
#pop_up .controls span:active {
  color: #444;
}
